<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1097832700373-9j4u6nvprgs5egli02889h83h4llpgeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097832700373-9j4u6nvprgs5egli02889h83h4llpgeg</string>
	<key>API_KEY</key>
	<string>AIzaSyB4llqy51zSXVR1HZPO9OyHzPzkucbo3u8</string>
	<key>GCM_SENDER_ID</key>
	<string>1097832700373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.greghaines.Darts301</string>
	<key>PROJECT_ID</key>
	<string>darts301-3e7f4</string>
	<key>STORAGE_BUCKET</key>
	<string>darts301-3e7f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097832700373:ios:b6df27fa3b69274b</string>
	<key>DATABASE_URL</key>
	<string>https://darts301-3e7f4.firebaseio.com</string>
</dict>
</plist>